$fontFamily: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;

$bodyBg: #fff;

$linkColor: #09c;

$zIndexBase: 1;

$zIndex01: 10;

$zIndex02: 20;

$zIndex03: 30;

$zIndex04: 40;

$zIndex05: 50;

$zIndex06: 60;

$zIndex07: 70;

$zIndex08: 80;

$zIndex09: 90;

$zIndex10: 100;

