.container {
    // background-image: url(../../images/site_bg.jpg);
    background-color: #e50;
    color: #555;
    height: 80px;/*px*/
    line-height: 80px;/*px*/
    font-size: 32px;/*px*/
}
img {
    width: 750px;
    border: 1px solid blue;/*no*/
}
span {
    font-size: 32px;/*px*/
}
.cycle {
    height: 40px;/*px*/
    width: 40px;/*px*/
    border-radius: 100%;
    background-color: #ccc;
}